.currencyComponent{
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    position: absolute;
    top: 0;
}

.firstSection{
    display: flex;
}

.firstSection > p {
    color: #000;
    
}
.secondSection{}