.App-logo {
    pointer-events: none;
    width: 200px;
    height: 125px;
    object-fit: none;
    object-position: 11% 29%;
    background-color: transparent;
  }
  
  .mainButton{
    border-style: none;
    border: 0px transparent solid;
    padding: 0;
  }
  
  .mainButton:active{
    transform: scale(0.95);
    /* border: 1px solid black; */
  }

  .customerComponent{
    color: #000;
    width: 100%;
  }

  .infoText {
    font-size: 10px;
    font-style: italic;
  }