.App-logo {
    pointer-events: none;
    width: 200px;
    height: 125px;
    object-fit: none;
    object-position: 11% 29%;
    background-color: transparent;
  }
  
  .mainButton{
    border-style: none;
    border: 0px transparent solid;
    padding: 0;
    position: relative;
  }
  
  .mainButton:active{
    transform: scale(0.95);
    /* border: 1px solid black; */
  }

  .customerComponent{
    width: 100%;
  }

  .infoText {
    font-size: 10px;
    font-style: italic;
  }

  .customerImage{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconBubble{
    position: absolute;
    top: 0;
    right: 0;
    translate: 50px;
  }

  .iconBubble > img {
    width: 50px;
  }