.notification{
    position: absolute;
    /* left: 0; */
    top: 80%;
    /* padding: 5px; */
    background-color: rgba(32, 33, 33, 0.7);
    border-radius: 50%;
    width: 125px;
}

.notificationText{
    text-align: center;
    font-size: x-small;
    color: #FFF;
}

.notificationHidden{
    display: none;
}

.notificationShown{
    display: block;
}

.notificationSuccess{
    border: 3px solid green;
}
.notificationWarning{
    border: 3px solid orange;
}
.notificationError{
    border: 3px solid red;
}

.notificationNone{
    border: 0px;
}

.fade{animation: fadeIn 3s;}

.fade-out{animation: fadeOut 1s;}

@keyframes fadeIn {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}